Repository encode/uvicorn, pull requests merged in 2021-11, with the labels that each got.

#1259 Allow WebSocket close event to receive reason being None from ASGI app
  tests/protocols/test_websocket.py
  uvicorn/protocols/websockets/websockets_impl.py
  uvicorn/protocols/websockets/wsproto_impl.py
Labels: websockets, asgi

#1257 Override default asyncio event loop with reload only
  uvicorn/config.py
  uvicorn/loops/asyncio.py
  uvicorn/loops/auto.py
  uvicorn/loops/uvloop.py
Labels: windows

#1252 Fix 1230; don't call ensure_open in WebSocketProtocol.asgi_receive
  tests/protocols/test_websocket.py
  uvicorn/protocols/websockets/websockets_impl.py
Labels: websockets
