Repository encode/uvicorn, pull requests merged in 2021-01, with the labels that each got.

#764 Enabled permessage-deflate extension in websockets
  tests/protocols/test_websocket.py
  uvicorn/protocols/websockets/websockets_impl.py
Labels: websockets

#930 Isolate server started message
  uvicorn/server.py
Labels: refactor

#721 return 'connection: close' header in response
  tests/test_main.py
  uvicorn/protocols/http/h11_impl.py
  uvicorn/protocols/http/httptools_impl.py
Labels: http
