Repository encode/uvicorn, pull requests merged in 2022-10, with the labels that each got.

#1687 Create py.typed
  uvicorn/py.typed
Labels: typing

#1725 Fix crash on exist with "--uds" if socket not exists
  tests/test_cli.py
  uvicorn/main.py
Labels: bug, user experience, uds

#1606 Add default headers to `WebSocket`s implementations
  docs/settings.md
  pyproject.toml
  tests/protocols/test_websocket.py
  uvicorn/protocols/websockets/websockets_impl.py
  uvicorn/protocols/websockets/wsproto_impl.py
Labels: websockets

#1572 Add example how to run the server programmatically with reload
  README.md
  docs/deployment.md
  docs/index.md
  mkdocs.yml
Labels: docs

#1486 Remove conditional on `RemoteProtocolError.event_hint`
  uvicorn/protocols/websockets/wsproto_impl.py
Labels: websockets
